---
- name: add haproxy deb repository
  apt_repository: repo='deb http://httpredir.debian.org/debian {{ debian.version }}-backports main' state=present

- name: install haproxy
  apt:
    name: {{ packages }}
    state: latest
  with_items:
    - haproxy
  notify: restart haproxy
